<section class="somosgbm">
    <div class="title">¿Quienes Somos?</div>
    <div class="somos-item">
        <div class="details">
            <p>Compañía líder en servicios de TI, integradora de soluciones y experta en tecnologías de información.
            GBM es el aliado estratégico de sus clientes, mediante asesoría e implementación de soluciones que
            permiten la creación y evolución de procesos automatizados para propiciar una mayor competitividad.
            Provee todos los componentes para una infraestructura tecnológica empresarial con hardware, software,
            consultoría y servicios especializados.</p>
            <p>GBM es distribuidor exclusivo de IBM en la región y representa además, de forma oficial y con pleno apoyo,
            marcas líderes de la industria como Lenovo, Cisco, SAP, entre otras.</p>
        </div>
    </div>
</section>